body
  background: #EEE
  font-size: 12px
  margin: 0
  padding: 0

body
  font-family: sans-serif
// @import otherfile


body
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

#layers
  margin: 1em
  display: flex

  .layer
    // border-right: solid 1px #CCC
    margin-right: 1em
    padding-right: 1em
    display: flex
    flex-direction: column
    justify-content: center
    &:last-child
      border-right: none 0px


    .cluster
      border: solid 1px #CCE
      margin: .5em
      border-radius: 1em

      .node
        display: flex
        background-color: white
        margin: .5em
        padding: .25em 1em
        text-align: center
        font-family: monospace
        border-radius: .5em
        cursor: pointer
        &.selected
          color: #FFF
          background: #249
        &.connected
          background: mix(mix(#249, #CEF, 20%), white)
        &.connected-1
          background: mix(#249, #CEF, 66%)
          color: white
        .name
          flex: 1
        .distance-in, .distance-out
          display: inline-block
          width: 2em
          opacity: 0.5
        .distance-in
          text-align: left
        .distance-out
          text-align: right
